<!--load the login page-->
{% extends 'myexpense/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container pt-4 pt-xl-5">
    <h2 class="text-2xl text-center">Login</h2>
   <div class="container py-5 w-200 " style="max-width: 400px">

    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            
    </form>
</div>
</div>


{% endblock %}
